<p>Welcome <%= current_user.email %></p>

<h2>Latest Additions:</h2>
<table>
    <thead>
        <tr>
            <th>Latest Additons</th>
            <th>Follow/Unfollow</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @latest_lightnovels.each do |lightnovel| %>
            <tr>
                <td><%= link_to "#{lightnovel.name}", lightnovel %></td>
                <td>
                    <% if current_user.lightnovels.find_by(id: lightnovel.id).nil? %>
                        <%= link_to 'Follow', follow_lightnovel_path(id: lightnovel.id, anchor: "home_new_lightnovel_#{lightnovel.id}") %>
                    <% else %>
                        <%= link_to 'Un-follow', unfollow_lightnovel_path(id: lightnovel.id, anchor: "home_new_lightnovel_#{lightnovel.id}") %>            
                    <% end %>
                    </td>
            </tr>
        <% end %>
    </tbody>
</table>

<h2>Latest Chapters:</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>New Chapters</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @latest_chapters.each do |chapter| %>
            <tr>
                <td><%= link_to "#{chapter.lightnovel_name}", lightnovel_path(id: chapter.lightnovel_id) %></td>
                <td><%= link_to "#{chapter.chapter_name}", render_chapter_path(chapter_url: chapter.chapter_url) %></td>
                <td>
                    <% if current_user.lightnovels.find_by(id: chapter.lightnovel_id).nil? %>                
                        <%= link_to 'Follow', follow_lightnovel_path(id: chapter.lightnovel_id, anchor: "home_new_chapter_#{chapter.lightnovel_id}") %>
                    <% else %>
                        <%= link_to 'Un-follow', unfollow_lightnovel_path(id: chapter.lightnovel_id, anchor: "home_new_chapter_#{chapter.lightnovel_id}") %>                         
                    <% end %>
                    </td>
            </tr>
        <% end %>
    </tbody>
</table>
