<!--<div class = "container">-->
    <div class = "row">
        <div class="col-sm-10">
            <div class="jumbotron">
                <div class = "container">
                    <% if user_signed_in? %>
                        <h1>Welcome back,</h1>
                        <p class="lead" id = "inline">
                            <% if @all_unread_count == 0 %>
                                You are all caught up! <h2><%= link_to "Follow more novels!", lightnovels_path %></h2>
                            <% else %>
                                You have <h2><%= link_to "#{@all_unread_count} chapters", unreads_path %> </h2> waiting for you.
                            <% end %>
                        </p>
                    <% else %>
                        <h1>Welcome, Stranger!</h1>
                        <p class="lead">Sign in or sign before you can access our super sweet,top secret content.</p>
                        <div class = "container">
                            <div class="span6 pull-right">
                                <%= render 'layouts/user_header' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    	<div class="col-sm-2 hidden-xs hidden-sm" id = "mobile">
        	<h2>Sidebar1</h2>
    	    <h2>Sidebar2</h2>
 	    </div>
    </div>
    
    <div class = "row">
        <!--<div class = "container">-->
            <div class = "col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Latest Additions:</h4></div>
                        <table class="table well">
                            <tbody>
                                <% @latest_lightnovels.each do |lightnovel| %>
                                    <tr>
                                        <td>
                                            <%= link_to "#{lightnovel.name}", lightnovel %>
                                        </td>
                                        <td>
                                            <%= render "layouts/follow_unfollow", lightnovel_id: lightnovel.id %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <!--</div>-->
        <!--<div class = "container">-->
            <div class = "col-sm-2">
                <div class="panel panel-default">    
                <div class="panel-heading"><h4>Latest Chapters:</h4></div>
                <table class="table well">
                    <!--<thead>-->
                    <!--    <tr>-->
                    <!--        <th>Name</th>-->
                    <!--        <th>New Chapters</th>-->
                    <!--    </tr>-->
                    <!--</thead>-->
                    <tbody>
                        <% @latest_chapters.each do |chapter| %>
                            <tr>
                                <td><%= link_to "#{chapter.lightnovel_name}", lightnovel_path(id: chapter.lightnovel_id) %></td>
                                <td><%= link_to "#{chapter.chapter_name}", render_chapter_path(chapter_url: chapter.chapter_url) %></td>
                                <td><%= render "layouts/follow_unfollow", lightnovel_id: chapter.lightnovel_id %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <!--</div>    -->
    </div>
</div>
    <!--</div>-->