
<% cache @lightnovels do %>
  <div class = "row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Index:</h3>
      </div>
      <table class="table table-hover table-condensed">
        <thead>
            <tr><%= will_paginate @lightnovels %></tr>
            <tr>
                <th>Name</th>
                <th>Number of Chapters</th>
                <th>Type</th>        
                <th>Follow/Un-follow</th>            
                <th colspan="3"></th>
            </tr>
        </thead>   
        <tbody>
          <% @lightnovels.each do |lightnovel| %>
            <% cache ["single", lightnovel] do %>
              <tr>
                <td><%= link_to "#{lightnovel.name}", lightnovel %></td>
                <td><%= lightnovel.number_of_chapters %></td>
                <td><%= lightnovel.lightnovel_type %></td>
                <td><%= render "layouts/follow_unfollow", lightnovel_id: lightnovel %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td><%= will_paginate @lightnovels %></td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
<% end %>


