<h1>Listing All LightNovles</h1>

<p id="notice"><%= notice %></p>
<p id="alert"><%= notice %></p>

<table>
	<thead>
    	<tr>
      		<th>Name</th>
      		<th colspan="3"></th>
    	</tr>
   </thead>
   <tbody>
   		<% @lightnovels.each do |lightnovel| %>
      		<tr>
        		<td><%= lightnovel.name %></td>
        		<td><%= link_to 'Show', lightnovel %></td>
        		<td><%= link_to 'Edit', edit_lightnovel_path(lightnovel) %></td>
        		<td><%= link_to 'Destroy', lightnovel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      		</tr>
    	<% end %>
  	</tbody>
</table>

<br><%= link_to 'New Lightnovel', new_lightnovel_path %>