<p>
  <strong>Name : </strong>
  <%= @lightnovel.name %>
</p>

<p>
  <strong>Description : </strong>
  <%= @lightnovel.description %>
</p>

<p>
	<strong>Homepage : </strong>
	<%= link_to 'Link', @lightnovel.home_url %>
	<!--extlink(@lightnovel.home_url)-->
</p>

<% logger.debug ">>>lightnovel#show>>>>>>>#{@lightnovel.is_translated}<<<<<<<<<<<<<" %>

<% if @lightnovel.is_translated == true %>
	<p>
  		<strong>Raws : </strong>
  		<%= link_to 'Link', @lightnovel.raws_url %>
  		<!--extlink(@lightnovel.raws_url) -->
	</p>
<% end %>	

<div class = "latest_chapters">
  <p>
    <strong>Latest Chapters : </strong>
    <% (@chapters.first(5)).each do |chapter| %>  
      -<%= link_to chapter.chapter_number, chapter.chapter_url %>-
    <% end %>
  </p>
</div>

<%= link_to 'Edit', edit_lightnovel_path(@lightnovel) %> |
<%= link_to 'Back', lightnovels_path %>

<table>
  <thead>
      <tr>
        <th>Chapter Number</th>
        <th>Chapter Name</th>
        <th>Added On</th>
        <th>Raws Link</th>
        <% if @lightnovel.is_translated == true %>
          <th>Translated Link</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
   </thead>
   <tbody>
      <% @chapters.reverse_each do |chapter| %>
          <tr>
            <td><%= chapter.chapter_number %></td>
            <td><%= chapter.chapter_name %></td>
            <td><%= chapter.created_at.to_date %></td>
            <td><%= link_to 'Chapter Link', chapter.chapter_url %></td>
            <!--extlink(chapter.chapter_url)-->
            <% if @lightnovel.is_translated == true %>
              <td><%= link_to 'Raws Link', chapter.raws_url  %></td>
              <!--extlink(chapter.raws_url)-->
            <% end %>
<!--             <td><%= link_to 'Edit', edit_lightnovel_chapter_path(chapter) %></td>
            <td><%= link_to 'Destroy', lightnovel, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->




          </tr>
        
      <% end %>
    </tbody>
</table>