<% if @all_unread.blank? %>
    <p>You have read. Consider following more Novels or Manga.</p>
<% else %>
    <% cache @all_unread do %>
        <br/><%= will_paginate @all_unread %>
        <table>
            <thead>
                <tr>
                    <th>Lightnovel Name</th>
                    <th>Chapter Number</th>
                    <th>Chapter Name</th>
                    <th>Added On</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                <% @all_unread.each do |unreadchapter| %>
                    <% cache ["single", unreadchapter] do %>
                        <tr>
                            <td><%= link_to "#{unreadchapter.lightnovel_name}", lightnovel_path(id: unreadchapter.lightnovel_id) %></td>
                            <td><%= unreadchapter.chapter_number %></td>
                            <td><%= link_to "#{unreadchapter.chapter_name}", render_chapter_path(chapter_url: unreadchapter.chapter_url) %></td>
                            <td><%= unreadchapter.created_at.to_date %></td>
                            <!--chapter.chapter_url -->
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
        <br/><%= will_paginate @all_unread %>
    <% end %>        
<% end %>
