<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @example.name %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @example.integer %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @example.desc %>
</p>

<p>
  <strong>String:</strong>
  <%= @example.string %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
