<div class = "container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="navbar-brand" href="/home">FictionCapital</a>
      </div>
      <ul class = "nav nav-tabs">
          <li><%= link_to 'Home', home_path %></li>
          <li><%= link_to 'Index', lightnovels_path %></li>
          <li><%= link_to 'Followed Items', followed_path %></li>
          <li> <%= link_to "#{@all_unread_count} Unread", unreads_path %></li>
          <li><%= render 'layouts/search' %></li>
          <li><%= render 'layouts/signedin' %></li>
      </ul>
    </div>
  </div>
</div>

